# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Flutter version management
.fvm/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Generated platform folders (safe to ignore)
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# Logs
*.log

# Coverage
coverage/
